.img{
    position: absolute;
    height: 50px;
    width: 200px;
}
.buttonsign{
    border-radius:25px ;
    width: 137px;
    height:35px ;
    
    display: inline;
    font-weight: 400;
    text-align:center ;
    vertical-align:middle ;
}
.illu{
    margin-top: 100px;

}
.illu h6{
    color: red;
}
.illu span{
    color: green;
}
.top{
    background-color:#F0FFF0;
    width: 100%;

}
.row{
    align-items: center;
}
.books1{
    box-shadow: 5px 5px 55px 5px lightgray;
    border-radius: 5px;
    height: 230px;
    width: 230px;
    border: none;
    background-color:#F8FFFB;
}

.align-items-center{
    align-items: center !important;
}
.justify-content-center{
    justify-content: center !important;
}
.flex-column{
    flex-direction: column !important;
}
.boi{
    height: 66px;
    width: 85px;
}
.sec2{
    margin-top: 20px;
    display: block;
    font-family: poppins;
}
.sec3{
    text-align: center;
    margin-top: 20px;
}
.div-text{
    
    
    font-family: Poppins;
    
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
    
    /* identical to box height */
    
    color: #585859;
}
.calender{
    width: 35px;
    height: 35px;
    margin-right: 7px;
}
.people{
    width: 35px;
    height: 35px;
    margin-right: 7px;
}

}
.bot-div{
    padding-top: 53px;
}

.d-flex{
    display: flex !important;
}
.flex-row{
    flex-direction: row !important;
}
.main-div-first-box{
    box-shadow: 1px 1px 50px 5px lavender;
    border-radius: 10px;
    padding-top: 15px;
    box-sizing: border-box;
}
.justify-content-between{
    justify-content: space-between !important;
}
.card-text{
    text-align: center;
}
.sec4{
    text-align:center;
}
.container{
    padding-bottom: 50px;
    padding-top: 20px;
}
.man{
    
width: 120px;
height: 120px;


}
.mantext{
    
text-align: left;


font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;




color: #000000;
}


}
h6{
    color:gray;
}
.hover:hover{
    background-color: white;
    text-decoration: none;
    border: none;
    box-shadow: 1px 1px 50px 5px  lightgray;
    
}
.forleft{
    text-align: left;
}
footer{
    background-color:#282531;
}
.bio{
    font-size: 16px;
  
    color: #FFFFFF;


}
.nio{
    
    font-size: 16px;
    
    /* or 187% */
    
    
    color: #FFFFFF;
    }
     .nio span{
        font-weight: bold;
         font-size: 18px;
         color: #FFFFFF;
    
     }
    
     .font{
    
        padding-top: 70px;
     }
    
     .copyright{
         margin-top: 80px;
         text-align: center;
        font-size: 16px;
        line-height: 30px;
        color: #CDCDCD;
     }
    
     @media (max-width: 760px) {
    
        .test-man{
            flex-direction: column;
        }
    }
